html,
body {
    height: 100%;
    margin: 0;
}

.detailCard {
    width: 1000px;

}

.centerDetailer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}